body {
	margin: 0;
}

section {
	padding: 7em 3em;
	text-align: center;
}

.picture1 {
	background: #5FC4F4;
}

.picture2 {
	background: #FBF39D;
}

.picture1 img {
	background: #F8BCD0;
	padding: 3em;
}

.picture2 img {
	background: #DFEECB;
	padding: 3em;
}

@media (min-width: 800px) {
	section {
		float: left;
		box-sizing: border-box;
		width: 50%;
	}
}